.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.selected-products{
    border: 1px solid white;
    box-shadow: 3px black;
    padding:12px;
}